<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="referrer" content="always">
<title>
    
    哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
<meta name="description" content="bilibili是一家弹幕站点,大家可以在这里找到许多的欢乐.">
<meta name="keywords" content="B站 弹幕 字幕 AMV MAD MTV ANIME 动漫 动漫音乐 游戏 游戏解说 ACG galgame 动画 番组 新番 初音 洛天依 vocaloid">
<link rel="search" type="application/opensearchdescription+xml" href="https://static-s.bilibili.com/opensearch.xml" title="哔哩哔哩" />
<link rel="stylesheet" href="__CSS__/base.css">

<link id="css" rel="stylesheet" type="text/css" href="__CSS__/zclc2.1460959081.css" />
<script>
    var use_min_js = 0;
</script>
<script type="text/javascript" src="__jS__/sea.js" id="seajsnode"></script>
<script type="text/javascript" src="__jS__/sea.config.js"> </script>
<script type="text/javascript" src="__BOOTSTRAP__/js/jquery-1.12.4.js"></script>
</head>
<body>
        <div class="z_top_container">
      <div class="z_top">
        <div class="z_header">
          <div class="z_top_nav">
            <ul>
  <li class="home">
    <a class="i-link" href="//www.bilibili.com/"><span>主站</span></a>
  </li>
    <li class="hbili"><a class="i-link" href="http://h.bilibili.com/" title="画友">画友</a></li>
  <li class="b-gc" hasframe="true">
    <a class="i-link" href="//game.bilibili.com/" title="游戏中心">游戏中心</a>
    <div class="i_div game" data-frame="game"></div>
  </li>
    <li class="live" hasframe="true">
    <a class="i-link" target="_blank" href="//live.bilibili.com" title="直播">直播</a>
    <div class="i_div stream" data-frame="stream"></div>
  </li>
  <li class="b-zb"><a class="i-link" target="_blank" href="//bmall.bilibili.com/#!/" title="周边">周边</a></li>
  <li style='display:none' class="b-ml"><a class="i-link" target="_blank" href="//bml.bilibili.com/index2016/?nav" title="BML">BML</a></li>
  <li class="shouji">
    <a class="i-link" target="_blank" href="//app.bilibili.com" title="移动端">移动端</a>
    <div class="mobile-p-box"><div class="mobile-p-qrcode"></div></div>
  </li>
</ul>

          </div>
          <div class="uns_box">
  <ul class="menu">
    <li id="i_menu_profile_btn" guest="no" class="u-i i_user" i_menu="#i_menu_profile">
      <a class="i-link" href="//space.bilibili.com/" target="_blank">
        <img class="i_face">
      </a>
      <div id="i_menu_profile" class="i_menu">
        <div class="i_menu_bg_t"></div>
        <div class="info clearfix"><div class="uname"></div><div class="coin"></div></div>
        <div class="member-menu-wrp">
          <ul class="member-menu">
            <li><a href="https://account.bilibili.com/site/home" target="_blank" class="account"><i class="b-icon b-icon-p-account"></i>个人中心</a></li>
            <li><a href="http://member.bilibili.com/v/#!/article" target="_blank" class="member"><i class="b-icon b-icon-p-member"></i>投稿管理</a></li>
            <li><a href="https://pay.bilibili.com/" target="_blank" class="wallet"><i class="b-icon b-icon-p-wallet"></i>B币钱包</a></li>
            <li><a href="//live.bilibili.com/i" target="_blank" class="live"><i class="b-icon b-icon-p-live"></i>直播中心</a></li>
          </ul>
        </div>
        <div class="member-bottom">
          <a class="logout" href="https://account.bilibili.com/login?act=exit">退出</a>
        </div>
      </div>
    </li>
    <li id="i_menu_become_vip" guest="no" i_menu="become_vip" class="u-i">
      <a class="i-link" href="//big.bilibili.com/site/big.html" target="_blank">成为大会员</a>
    </li>
    <li id="i_menu_community_msg_btn" guest="no" i_menu="community_msg" class="u-i">
            <a class="i-link" href="//message.bilibili.com" target="_blank">消息</a>
        </li>
    <li id="i_menu_msg_btn" guest="no" i_menu="#dyn_wnd" class="u-i">
      <div class="num" id="dynamic_num_total"></div>
      <a class="i-link" href="//www.bilibili.com/account/dynamic" target="_blank">动态</a>
    </li>
    <li id="i_menu_fav_btn" guest="no" i_menu="#i_menu_fav" class="u-i">
      <a class="i-link" href="//space.bilibili.com/#!/favlist" target="_blank">收藏夹</a>
    </li>
    <li id="i_menu_history_btn" guest="no" class="u-i">
      <a class="i-link" href="//www.bilibili.com/account/history">历史</a>
    </li>
    <li id="i_menu_login_reg" guest="yes" class="u-i">
      <a id="i_menu_login_btn" class="i-link login" href="index.html"><span>登录</span></a><i class="s-line"></i><a id="i_menu_register_btn" class="i-link reg" href="register.html"><span>注册</span></a>
    </li>
    <li class="u-i b-post">
      <a class="i-link" href="http://member.bilibili.com/v/video/submit.html" target="_blank">投 稿</a>
      <ul class="s-menu">
        <li><a href="http://member.bilibili.com/v/video/submit.html" target="_blank"><i class="b-icon b-icon-vp"></i><em>视频投稿</em></a></li>
        <li><a href="http://member.bilibili.com/v/#!/article" target="_blank"><i class="b-icon b-icon-vm"></i><em>投稿管理</em></a></li>
        <li><a href="http://member.bilibili.com/v/" target="_blank"><i class="b-icon b-icon-vc"></i><em>创作中心</em></a></li>
      </ul>
    </li>
  </ul>
</div>
        </div>
      </div>
    </div>
  <div class="top_bg">
    <div class="top"></div>
  </div>
<div class="head_foot_content">
    <div class="header">
        <div class="lin">
            <div class="tit">
                <img src="picture/t2.png" alt="登录" />
            </div>
        </div>
        <div class="content-bd" status="available">
            <div class="content-l">
                <div class="inner">
                    <div class="qrcode" id="login-qrcode"></div>
                    <p class="qr-title"></p>
                    <p class="qr-text"></p>
                    <img class="bg" src="picture/2233login.png" alt="">
                    <img src="picture/qr-tips.png" id="qr-tips">
                    <div id="tv"></div>
                    <div id="qr-reload">
                        <div class="reload-btn">点击刷新</div>
                        <p class="qr-title">二维码已失效</p>
                    </div>
                    <div id="qr-sucess">
                        <div class="sucess-btn"></div>
                        <p class="qr-title">扫描成功</p>
                    </div>
                    <div id="download-app">
                        <div class="qrcode" id="app-qrcode"></div>
                        <p class="qr-title">扫码下载客户端</p>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="content-r">
                <form action="dologin" method="post" onsubmit="return false;">
                    <input type="hidden" name="act" value="login" />
                    <input type="hidden" name="gourl" value="" />
                    <input type="hidden" name="keeptime" id="keeptime" value="2592000" />
                    
                    <div class="box">
                        <span id="userIdSpt">&nbsp;</span>
                        <input style="margin-bottom: 0" id="userIdTxt" type="text" placeholder="" ="你的手机号/邮箱" name="userid" class="email" jvdefault="你的手机号/邮箱" jvcorrecttip='' jvtipid="userIdSpt" maxlength="50" jvpattern="^.{1,50}$" jverrortip="请输入注册时用的邮箱或者手机号呀" />
                    </div>
                    <div class="box">
                        <span id="userPwdTip">&nbsp;</span>
                        <input id="passwdTxt" type="password" placeholder="密码" name="pwd" class="password" jverrortip="喵，你没输入密码么？" jvpattern="^.{3,30}$" jvtipid="userPwdTip" />
                    </div>
                    <div class="box">
                        <a href="/resetpwd" class="mima">忘记密码？> </a>
                        <span style="line-height: 30px;" class="begin" id="vdcodeSpt">&nbsp;</span>
                        <input id="vdCodeTxt" type="text" style="text-transform: uppercase;" value="验证码" class="code" jvdefault="验证码" name="vdcode" jvcorrecttip='' jvtipid="vdcodeSpt" maxlength="10" jvpattern="^.{1,10}$" jverrortip="请输入验证码" autocomplete="off" />
                        <div class="sj_yzm" style="display: none"></div>
                        <i></i> <img id="verify_img"  src="{:captcha_src()}" style="float: right;width: 200px;" alt="captcha" onclick="refreshVerify()"/>
                        <p id="refreshCaptchaAch" style="display: none">换一张</p>
                        <div class="box">
                            <label style="height: 25px; position: relative;">
                                <input class="jz" type="checkbox" remember-me="2592000"
                                       no-remember-me="604800" checked="checked" />
                                <em>记住我<strong>不是自己的电脑上不要勾选此项</strong></em>
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="login" value="登录" />
                    <a class="zhuce" href="/register/phone">注册</a>
                </form>
                
                    <ul class="way">
                        <a href="/login" data-sns="qq" csrf="bd3f8800054111e7b0e50242ac123ecf"><li class="qq">QQ账号登录</li></a>
                    </ul>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('.login').on('click',function(){
  var username=$("input[name=userid]").val();
  var password=$("input[name=pwd]").val();
  if(username == '' || password== '')
  {
    return false;
  }else
  {
    $.post("/index/login/dologin",{"username":username,"password":password},function(data){
            if(data.status){
              location.href = '/';
            }
    });
  }
  $.post("login",);
});

</script>