
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="applicable-device" content="pc,mobile">
<title>个人主页 - 羁绊站群会员中心</title>
<link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.min.css"/>
<link rel="stylesheet" href="__CSS__/master.css" />
  <link rel="stylesheet" href="__CSS__/reset.css">
  <link rel="stylesheet" href="__CSS__/common.css">
  <link rel="stylesheet" href="__CSS__/index.css">

<!--<script src="/Style/js/main.js"></script>-->
<link rel="stylesheet" type="text/css" href="__CSS__/sign2_1.css"/>




<script type="text/javascript" src="__BOOTSTRAP__/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
</head>

<body>
<!--公用顶部开始-->
  <header id="header">
  {include file="public:header"}
<!--公用顶部结束-->
<div class="warpbox">
    <div class="warptit"></div>
    <div class="w1000 clear">

            <div class="leftside fleft">
    <h1 class="adminlogo"><strong>会员</strong>中心<em>usr.005.tv</em></h1>
    <div class="adminbox">
        <div class="adminpic"><img src="http://bbs.005.tv/uc_server/avatar.php?uid=1041727&size=big"></div>
        <div class="adminname fonttips">liliuli808</div>
        <div class="adminlink">
            <button id="btn-sign-user" data-checked="0" data-group="1" class="btn primary"><i class="icon icon-check-circle"></i>签到</button>
        </div>
        <div class="admin-extra">
            <div class="space"></div>
            <a href="javascript:void(0)" ><span class="pts" id="user_credits" >5</span> <span class="hint">经验</span></a>
            <a href="javascript:void(0)" title="0% - 当前总经验值：5 / 下一级所需总经验值：100" id="user_level_tips" ><span class="pts">LV1</span> <span class="hint">等级</span></a>
            <span class="clearfix"></span>
        </div>
        <div class="adminlink">
            <a class="fontblue" href="/User/setting.html">设置</a><a href="/User/loginout.html">退出</a>
        </div>
    </div>
    <ul class="leftnav">
        <li><a href="{:url('index/userall/user_info')}" class="active" ><em class="zhuye"></em>个人主页</a></li>
        <li><a href="{:url('index/userall/member')}" ><em class="mood"></em>会员</a></li>
        <li><a href="{:url('index/userall/upload_head')}"  ><em class="shoucang"></em>修改头像</a></li>
        <li><a class="opennavbtn" herf="javascript:;" class="active"><em class="guanli"></em>账号管理<span class="openico"></span></a>
            <div class="navsonbox" style="display:block;" >
                <a href="{:url('/index/userall/set_user')}" >信息设置</a>   
            </div>
        </li>
        <li><a class="opennavbtn" herf="javascript:;" class="active"><em class="guanli"></em>账号管理<span class="openico"></span></a>
            <div class="navsonbox" style="display:block;" >
                <a href="{:url('/index/userall/set_user')}" >信息设置</a>
                <a href="/User/passwd.html" >安全管理</a>
                <a href="/User/loginout.html">退出登录</a>
            </div>
        </li>
          <li><a class="opennavbtn" herf="javascript:;"><em class="haoyou"></em>我的投稿<span class="openico"></span></a>
            <div class="navsonbox" style="display:none;" >
                <!--<a href="/Contrib/add.html" >文章投稿</a>-->
                <!--<a href="/Contrib/all.html" >投稿管理</a>-->
                <a href="http://www.dilidili.com/member/article_add1.php" >链接投稿</a>
                  <!--<a href="http://www.dilidili.com/member/article_add1.php">视频投稿</a>-->
                  <a href="http://www.dilidili.com/member/content_list.php?channelid=17">过往投稿</a>
                <!--<a href="/Contrib/upload_video.html" >视频投稿</a>-->
                  <!--<a href="/Contrib/post_all.html" >过往投稿</a>-->
            </div>
        </li>
    </ul>

</div>

        <div class="rightmain fright">
            <div class="mainbox">
                <div class="zytop clear">
                    <div class="adminzy fleft">
                        <div class="adminnametext">liliuli808<span>1点赞币：<strong>0</strong>个</span></div>
                        <div class="adminmood fonthui">来说点什么吧~~</div>
                    </div>
                    <div class="adminnum fright">
                        <!--<p>我的关注<span class="fontblue"><a href="#">0</a></span></p>-->
                <!--        <p>我的弹幕<span class="fontblue"><a href="#">0</a></span></p>
                        <p>我的绘画<span class="fontblue"><a href="#">0</a></span></p> -->
                    </div>
                </div>

                <div style="" id="calendar"></div>

    <div id="sign_note" style="text-align:center;position: relative;padding: 15px;    font-size: 14px;">
    </div>
        </div>
    </div>
    <div class="warpbott"></div>
</div>
<script type="text/javascript" src="__JS__/calendar2_1.js"></script>
<script type="text/javascript">
var signList = [];
$(function(){
  //ajax获取日历json数据
  $.post('usersign',function(data){
        signList= data.day;
        calUtil.init(signList);
  });
        date = new Date();
   var timestamp=date.getTime();
   $.post(
        "sign",
        {'time':timestamp},
        function(data)
        {
            if(data.status)
            {
                $("#sign_note").after('<button id="sign_btn" type="button" class="btn btn-info">签到</button>');
                $("#sign_btn").on('click',dosign);
            }else
            {
                 $("#sign_note").after('<button type="button" class="btn btn-info" disabled>已签</button>');
            }
        }
        );
   function dosign()
    {
        $.post("dosign",{'day':date.getDate()},function(data){
            $("#sign_btn").html('已签');
            $("#sign_btn").attr('disabled',true);
            var tmp = {"signDay":date.getDate()};
            calUtil.init(signList,tmp);
    });
    }
    });

</script>
 {include file="public:footer"}
