    <!-- 注册窗口 -->
     
    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title" id="register_title">
                    <h1 class="text-center">注册</h1>
                </div>
                <div class="modal-body" id="register_body">
                   
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" type="text" name="rusername" id="rusername" placeholder="6-15位字母或数字">
                                <span id="checkuser"></span>
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" type="password" name="repassword" placeholder="至少6位字母或数字">
                                <span id="checkpass"></span>
                            </div>
                            <div class="form-group">
                                <label for="">再次输入密码</label>
                                <input class="form-control" type="password" name="rerpassword" placeholder="至少6位字母或数字">
                                <span id="checkrepass"></span>
                            </div>
                            <div class="form-group">
                                <label for="">手机号</label>
                                <input class="form-control" type="tel" name="telnum">
                                <span id="errorspan"></span>
                                <div class="text-left">
                                 <label for="" style="margin-top: 30px">验证码</label>
                                <input class="form-control" type="text" id="yzm" name="yzm" >
                                <input class="btn btn-primary btn-sm" type="button" name="btnSendCode" value="点击获取验证码" style="">
                                </div>
                            </div>
                            <div class="text-right">
                        
                                <input class="btn btn-primary" name="doregister" type="button" value="提交">
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 登录窗口 -->
    
    <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body" id="login_body">
                   <!--  <form class="form-group" action="{:url('index/login/dologin')}" method="post"> -->
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" type="text" name="username" placeholder="">
                                <span id="yincang1"></span>
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" type="password" name="password" placeholder="">
                                 <span id="yincang2"></span>
                            </div>
                            <div class="form-group">
                                <label for="">验证码</label>
                                <input class="form-control" type="text" name="verify" placeholder="">
                                 <span id="yincang3"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="zidong" name="zidong" value="1">
                                 <span id="yincang4"></span>
                                <label for="">自动登录</label>
                                
                            </div>
                              <div class="form-group">
                                 <label for="qqlogin">
                                 <a id="qqlogin" href="{:url("index/login/oauth")}"><i class="iconfont icon-qq" style="font-size: 30px"></i></a>  
                                 </label>  
                            </div>
                            <div><img id="verify_img" src="{:captcha_src()}" alt="captcha" onclick="refreshVerify()"/>
                            </div>
                            <div class="text-right">
                                <button id="denglu" class="btn btn-primary">登录</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>  
        
    

<script type="text/javascript" src="__JS__/register.js"></script>
<script src="__JS__/jquery-1.8.3.js"></script>
<script type="text/javascript" src="__JS__/upload_head.js"></script>
<script src="__JS__/login.js"></script>
<script type="text/javascript">

</script>
</body>
</html>